body {
  background-color: #DBDADA;
  font-family: helvetica;
  width: 98%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

legend {
  width: 25%;
  margin: auto;
}

h1 {
  float: center;
  font-size: 45pt;
}

canvas {
  color: black;
}
